<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <!--    Driver class-->
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url"><!--    connection URL here --></property>
    <property name="hibernate.connection.username"><!--you Password here--></property>
    <property name="hibernate.connection.password"><!--you userName here-->r</property>
    <!--    sql version-->
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <!--    print sql query in terminal if it's true-->
    <property name="hibernate.show_sql">true</property>
    <!--     create database-->
    <property name="hibernate.hbm2ddl.auto">update</property>
  </session-factory>
</hibernate-configuration>